/* CSS Resets */
html{box-sizing:border-box}*,::after,::before{box-sizing:inherit}blockquote,body,figure,h1,h2,h3,h4,h5,h6,hr,li,ol,pre,ul{margin:0;padding:0}ul{list-style:none}button,input,select,textarea{color:inherit;font:inherit;letter-spacing:inherit}button,input,textarea{border:1px solid gray}button{border-radius:0;padding:.75em 1em;background-color:transparent}button *{pointer-events:none}embed,iframe,img,object,video{display:block;max-width:100%}table{table-layout:fixed;width:100%}[hidden]{display:none}noscript{display:block;margin-bottom:1em;margin-top:1em}
  
/*base */ 

body {
  font-family: 'Roboto', sans-serif;
}

/*header */
  
  .header-wrapper {
    display: flex; 
    margin: auto;
  }

  .header-wrapper h1,
  .header-wrapper .nav {
    flex: auto;
    align-items: center;
  }

  .header-wrapper h1{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
  }

  .nav ul{
    display: flex;
   /* height: 100%; */
    justify-content: center;
  }

  .header-wrapper {
    
    height: 10vh;
}

.header-wrapper > * {
    display: flex;
    justify-content: center;
}

.header-wrapper h1 {
    display: flex;
    justify-content: flex-start;
    padding-left: 5vw;
}

.header-wrapper .nav ul li {
    padding: 0 10px;
}
 .slider {
   display: flex;
   justify-content: center;
 }