/****************************************
*    Variables
*****************************************/
:root {
  --white: #ffffff;
  --black: #000000;
  --primary: #0366ee;
  --link: #0000ee;
  --hover: #551a8b;
  --font-family: "Roboto", sans-serif;
}

/****************************************
*    Base - Elements
*****************************************/
html {
  height: 100%;
}

body {
  color: var(--black);
  background: var(--white);
  font-size: 100%;
  font-size: calc(16px + (20 - 16) * ((100vw - 720px) / (1400 - 720)));
  font-family: var(--font-family);
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover,
a:active {
  color: var(--hover);
  text-decoration: underline;
}

ul {
  list-style: none;
  padding-left: 0;
}

/****************************************
*    Components - Common
*****************************************/
/* Layout */
.site-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr;
  row-gap: 2em;
}

/* Header */
.site-name {
  font-size: 15px;
}

/* Top container */
/*
.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 80vw;
  margin: 2em auto 1em;
}
*/
.top-container {
  min-width: 80vw;
  margin: 2em auto;
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 1fr;
}

header {
  grid-column: 1;
}

nav {
  grid-column: 2;
}

/* Showcase */
.project-showcase {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: 0 auto;
}

.project-showcase img:not(:first-child) {
  padding-top: 2em;
}

/* Desktop */
@media screen and (min-width: 40em) {
  .site-name {
    font-size: 18px;
  }
  .project-showcase {
    flex-direction: row;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .project-showcase img {
    min-width: 100%;
    width: 1197px;
    height: 697px;
    overflow: hidden;
  }

  .titulo-proyecto-container {
    width: 80%;
    margin: 0 auto;
    position: relative;
  }

  .titulo-proyecto-container h3 {
    position: absolute;
    right: 0;
  }
}

/****************************************
*    Helpers
*****************************************/
.centrar {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Ayuda visual temporal */
.outline {
  border: 2px dotted blue;
}
