/****************************************
*    Variables
*****************************************/
:root {
  --white: #ffffff;
  --black: #000000;
  --primary: #0366ee;
  --link: #0000ee;
  --hover: #551a8b;
  --font-family: "Roboto", sans-serif;
}

/****************************************
*    Base - Elements
*****************************************/
html {
  height: 100%;
}

body {
  color: var(--black);
  background: var(--white);
  font-size: 100%;
  font-size: calc(16px + (20 - 16) * ((100vw - 720px) / (1400 - 720)));
  font-family: var(--font-family);
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover,
a:active {
  color: var(--hover);
  text-decoration: underline;
}

ul {
  list-style: none;
  padding-left: 0;
}

/****************************************
*    Components - Common
*****************************************/
/* Layout */
.site-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr;
  row-gap: 2em;
  width: 80vw;
  margin: 0 auto;
}

/* Header */
.site-name {
  font-size: 15px;
  font-weight: normal;
}

.menu {
  font-size: 15px;
  font-weight: normal;
}

/* Top container */
/*
.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 80vw;
  margin: 2em auto 1em;
}
*/
.top-container {
  min-width: 80vw;
  margin: 1em auto;
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 1fr;
}

header {
  grid-column: 1;
}

nav {
  grid-column: 2;
}

/* Showcase */
.project-showcase {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: 0 auto;
}

.project-showcase img:not(:first-child) {
  padding-top: 2em;
}

/* Desktop */
@media screen and (min-width: 40em) {
  .site-name {
    font-size: 18px;
  }
  .project-showcase {
    flex-direction: row;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .project-showcase img {
    min-width: 100%;
    width: 1197px;
    height: 697px;
    overflow: hidden;
  }

  .titulo-proyecto-container {
    width: 80%;
    margin: 0 auto;
    position: relative;
  }

  .titulo-proyecto-container h3 {
    position: absolute;
    right: 0;
  }
}

#toggle {
  padding-left: 10px;
}

/* Slider */
.slider {
  display: flex;
  max-width: max-content;
  margin: 10vh auto 0;
  position: center;
}

.imagenes {
  width: 800px;
  height: 500px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  order: 2;
  transform: translatex(25px);
}

.imagen {
  position: absolute;
  height: 100%;
  display: grid;
  align-content: center;
  justify-content: center;
  transition: all 0.6s;
  transform: translatex(-200%);
}

.imagen.next + .imagen {
  transform: translatex(200%);
}

.imagen.anterior {
  z-index: 10;
  transform: translatex(-100%);
}

.imagen.actual {
  z-index: 10;
  transform: translatex(0);
}

.slide.siguiente {
  z-index: 10;
  transform: translatex(100%);
}

button {
  all: unset;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  opacity: 0;
}

button:first-child {
  order: 1;
}

button:last-child {
  order: 3;
  transform: rotate(180deg);
}

/****************************************
*    Work
*****************************************/

@media screen and (min-width: 40em) {
  .work-container img {
    width: 100%;
  }

  .work-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .work-container figcaption:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .work-container figcaption:nth-child(2) {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .work-container figcaption:nth-child(3) {
    grid-column: 4/7;
    grid-row: 1/3;
  }
  .work-container figcaption:nth-child(4) {
    grid-column: 1/4;
    grid-row: 2/3;
  }
  .work-container figcaption:nth-child(5) {
    grid-column: 1/4;
    grid-row: 6/7;
  }
}

/****************************************
*    Proyecto
*****************************************/
.proyecto_container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 2em;
  max-width: 80%;
  margin: -2em auto 0;
}

.proyecto_container img {
  margin-top: 20px;
}

/****************************************
*    Contacto
*****************************************/
.contacto-about,
.contacto-datos {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}

.contacto-about p,
.contacto-datos p {
  border-top: 1px solid black;
  /* Top Right Bottom Left = como manecillas del reloj */
  padding: 1em 0 0 2em;
  margin-top: -0.06em;
}

@media screen and (min-width: 40em) {
  .contacto-about,
  .contacto-datos {
    grid-template-columns: 200px 1fr;
    min-height: 300px;
  }
  .contacto-about h2,
  .contacto-datos h2 {
    font-size: 2em;
    font-weight: bold;
  }
  .contacto-about p,
  .contacto-datos p {
    padding-left: 9em;
  }
}

/****************************************
*    Archivo
*****************************************/
.archive-list-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding-top: 10%;
  font-size: 15px;
  justify-content: center;
  max-width: 95vw;
  margin: 0 auto;
}

.archive-list-nav {
  grid-column: 1/2;
}

.archive-list-nav a {
  color: black;
}

.archive-list-nav a:hover {
  opacity: 0.8;
  text-decoration: none;
}

.archive-list-items {
  grid-column: 2/3;
}

table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table tr {
  padding: 0.35em;
  border-top: 1px solid black;
}

table th,
table td {
  padding: 0.625em 0;
  text-align: left;
}

table th[data-label="Year Heading"],
table td[data-label="Year"] {
  text-align: right;
}

table th[data-label="Media Heading"],
table td[data-label="Media"] {
  text-align: center;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
